<%- include('../partials/header') %>

<div class="form-container">
     <form action="/itineraries" id="new-itinerary-form" method="POST">
        <label>Trip Title</label>
        <input type="text" name="title">
        <label>Start Date</label>
        <input type="date" name="startDate">
        <label>End Date</label>
        <input type="date" name="endDate">
        <label>Description</label>
        <textarea name="description" id="" cols="30" rows="3">Best trip ever!</textarea>
        <label>Itinerary Item</label>
        <input type="text" placeholder="Enter location" name="items">
        <button type="submit">Submit</button>
    </form>
</div>

<%- include('../partials/footer') %>
