<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="/images/odessi-logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title><%= title %> | odessi</title>
  </head>
  <header>
    <h1>odessi</h1>
    <nav>
      <% if (user) { %>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/itineraries/new">new itinerary</a></li>
        <li><a href="/itineraries">your itineraries</a></li>
        <li><a href="/logout">log out</a></li>
      </ul>
        <% } else { %>
        <a href="/auth/google" class="login"><img src="https://i.imgur.com/FHjYyi0.png" />&nbsp;&nbsp;Sign in with Google</a>
        <% } %>
    </nav>
    <% if (user) { %>
      <div id="welcome-user">
        <img class="avatar" src="<%= user.avatar %>" alt="Avatar" referrerpolicy="no-referrer"/>
        <p>Welcome back, <%= user.name %>!</p>
      </div>
        <% } %>
  </header>
</html>
