<%- include("./partials/header")  %>


<div class="container">
    <img id="landing-page-img" src="/images/dall-e-character.png" alt="cartonn" />
    <div>
        <h2>Explore the world with ease</h2>
        <p>
            Plan your next adventure effortlessly. Create, organize, and map custom itineraries
            for vacations and road trips hassle-free.
        </p>
    </div>

</div>
























<%- include("./partials/footer")  %>