<%- include("./partials/header") %>

<h2>Explore the World with Ease</h2>
<div class="container">
  <img id="landing-page-img" src="/images/dall-e-character.png" alt="cartonn" />
  <div>
    <p>
      Plan your next adventure effortlessly. Create, organize, and map custom
      itineraries for vacations and road trips hassle-free.
    </p>
  </div>
</div>

<%- include("./partials/footer") %>
