<%- include("./partials/header")  %>

<h2>Explore the world with ease</h2>
<div class="container">
    <img id="landing-page-img" src="/images/christian-ladewig-FD-gzGKS5sY-unsplash.jpg" alt="nyc" />
    <p>
        Plan your next adventure effortlessly. Create, organize, and map custom itineraries
        for vacations and road trips hassle-free.
    </p>
</div>
























<%- include("./partials/footer")  %>