body {
  font-family: "Alegreya Sans", sans-serif;
  background-color: #F3ECE1;
  font-size: large;
}

h1 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 700;
  font-size: 8vmin;
  margin: -1vmin 0 0 0;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

h2 {
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
}

a {
  font-family: "Alegreya Sans SC", sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D8D0C0;
  padding-left: 4vmin;
}

nav ul {
  list-style-type: none;
  padding-left: 8vmin;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

.login {
  display: inline-flex;
  align-items: center;
  background-color: #1A3B5D;
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 4vmin;
}

.login img {
  margin-left: 5px;
  height: 20px;
}

.login:hover {
  background-color: #294264;
}

.avatar {
  border-radius: 50%;
  height: 2.5vmin;
  margin-right: 10px;
}

#welcome-user {
  display: flex;
  align-items: center;
  padding-right: 4vmin;
}

#welcome-user p {
  margin: 0;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/kiwihug-qv05FvdE26k-unsplash.jpg");
  background-size: cover;
  background-color: white;
  max-width: 200vmin;
  height: 70vmin;
}

.container div {
  width: 50vmin;
}

#landing-page-img {
  height: 60vmin;
  width: auto;
  margin-right: 1vmin;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/kiwihug-qv05FvdE26k-unsplash.jpg");
  background-size: cover;
  height: 70vmin;
}

#itinerary-title {
  text-align: left;
}

.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/kiwihug-qv05FvdE26k-unsplash.jpg");
  background-size: cover;
  padding: 20px;
  height: 70vmin;
}

#new-itinerary-form, table {
  background-color: white;
  padding: 20px 40px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; 
  min-height: 40vmin;
}

#item-form-container {
  background-color: white;
  padding: 20px 40px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; 
  height: 47vmin;
  width: 36vmin;
}

#details-view {
  background-color: white;
  padding: 20px 40px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; 
  height: 47.5vmin;
  width: 50vmin;
  overflow-y: auto;
}

#itinerary-edit-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/images/kiwihug-qv05FvdE26k-unsplash.jpg");
  background-size: cover;
}

#itinerary-edit-delete a, #itinerary-edit-delete input {
  font-size: 20px;
}

#delete-form input {
  border: none;
  background: none;
  color: #E84855;
  cursor: pointer;
  font-weight: bold;
}

#details-view::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

#details-view::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #294264;
}

th, td {
  padding: 0 4vmin;
}

.date-container {
  display: flex;
  justify-content: space-between;
}

.date-field {
 flex: 1;
 margin-right: 10px;
}

input, textarea {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 8px 0;
  font-family: "Alegreya Sans", sans-serif;
}

button, input[type=submit] {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: medium;
  font-weight: bold;
  background-color: white;
  padding: 10px 16px;
  margin: 8px 0;
  border-radius: 20px;
  cursor: pointer;
}


footer {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  body {
    padding: 0 10vmin;
    margin: auto;
  }
}